Options -Indexes

RewriteEngine On
RewriteRule ^\.(?:htaccess|user\.ini)$ - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]

<FilesMatch "^\.">
  Require all denied
</FilesMatch>
